.header {
  display: flex;
  text-align: center;
  background: #5308bb;
  color: hsl(0, 0%, 100%);
  padding: 9px;
  flex-direction: column;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  }
  
  a {
    color: #ffffff;
  }

  nav{
   margin: 6px;
  }

  .icon{
    margin-left: 15px;
    margin-right: 15px;
  }