<app-header></app-header>

<div >
        
    <div class="article" *ngIf="cartItems.length > 0; else elseBlock">

        <div class="cartItemsList">
            <div *ngFor="let cartItem of cartItems" class="item" >
                <img src="{{cartItem.product.url}}" width="180" alt="">
                <h3>{{ cartItem.product.name}}</h3>
                <h3>{{ cartItem.product.price}}$</h3>
                <input type="number" 
                [(ngModel)]="cartItem.quantity"
                (ngModelChange)="updateItemQuntity(cartItem)"
                min="0">
            </div>
        </div>
        
        <div >
            <form  [formGroup]="cartForm"  #form="ngForm" (ngSubmit)="submitForm()" class="form" >

                <label for="fullname">Full name</label>
                <input 
                type="text" name="fullname"
                minlength="3"
                placeholder="3 characters"
                [(ngModel)]="fullname"
                formControlName="fname" 
                >
                <div *ngIf="formControls['fname'].invalid && (formControls['fname'].dirty || formControls['fname'].touched)"
                    class="alert alert-danger">Name has to be 3 characters or more</div>

                <label for="address">Address</label>
                
                <input 
                type="text"
                name="address"
                minlength="10"
                placeholder="10 characters"
                [(ngModel)]="address"
                formControlName="adress" 
                >
                <div *ngIf="formControls['adress'].invalid && (formControls['adress'].dirty || formControls['adress'].touched)"
                class="alert alert-danger">Address has to be 10 characters or more</div>

                <label for="creditcard">Credit card number</label>
                <input 
                type="text" 
                name="creditcard"
                [(ngModel)]="creditCard"
                minlength="16"
                placeholder="16 digits"
                formControlName="cc" 
                >
                <div *ngIf="formControls['cc'].invalid && (formControls['cc'].dirty || formControls['cc'].touched)"
                class="alert alert-danger">Creidt Card has to be 16 (numbers)</div>

                <button type="submit" class="submit-btn" [disabled]="form.invalid">Submit</button>
            </form>
        </div>
        <div class="total">
            <h2>Total: {{totalMoney}}$</h2>
            <button class="clear-Btn" (click)="clearCart()"><span>Clear Cart</span></button>
        </div>
        
        </div>
<ng-template #elseBlock>
    <h1>Your Cart is empty start adding items!</h1>
</ng-template>

    <a routerLink="/"> Back To Products</a>
</div>      
    
    
    