*{
    padding: 2px;
    margin: 1px;
}
.product-image {      
    list-style-type: none;
    width: 290px;
    padding: 20px;
    margin: 6px 6px;        
    border: 1px solid #1a5b73;
  } 
  
  .product-container {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .select-input {
    width: 86px; 
    padding: 2px;
    margin-bottom: 8px;
    text-align: center;
  }

  .add-btn{
    background-color: #33B5E5;
    color: white;
    padding: 4px;
    font-size: 18px;
    border: 1px solid black;
  }

  .product-details{
    padding: 0;
    margin: 1px;
  }
  .product-details >p{
    margin: 0;
    font-size: 20px;
    color: grey;
  }
  .pname{
    color: black;
    font-family: 'Times New Roman', Times, serif;
  }

.article > div{
    margin-top: 64px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}