
<div class="product-container">

<a routerLink="products/{{product!.id}}">
<img class="product-image" src="{{ product!.url }}" alt="{{ product!.description }}">
</a>

<div class="product-details">
<p class="pname">{{ product!.name }}</p>
<p class="pprice"> {{ product!.price }}$</p>
<p class="pdesc">{{ product!.description }}</p>
</div>

<p>
    <select class="select-input" [(ngModel)]="amount">
      <option *ngFor="let option of selectOptions" value="{{ option }}">
        {{ option }}
      </option>
    </select>
  </p>
  <p><button class="add-btn" (click)="addToCartRequest()">Add to cart</button></p>
</div>

